*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;

}
@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('fonts/MyriadPro-Regular.eot');
	src: local('☺'),  url('fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.ttf') format('truetype'), url('fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LOBSTER';
	src: url('fonts/LOBSTER.eot');
	src: local('☺'), url('fonts/LOBSTER.ttf') format('truetype'), url('fonts/LOBSTER.woff') format('woff'),  url('fonts/LOBSTER.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro-BoldCond';
	src: url('fonts/MyriadPro-BoldCond.eot');
	src: local('☺'), url('fonts/MyriadPro-BoldCond.ttf') format('truetype'), url('fonts/MyriadPro-BoldCond.woff') format('woff'),  url('fonts/MyriadPro-BoldCond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro-It';
	src: url('fonts/MyriadPro-It.eot');
	src: local('☺'), url('fonts/MyriadPro-It.woff') format('woff'), url('fonts/MyriadPro-It.ttf') format('truetype'), url('fonts/MyriadPro-It.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.clear{
	clear: both;
}
.wrapper{
	width: 1200px;
	margin: 0 auto;
	background: url(../images/bg.png) center center;
	position: relative;
	
	min-height: 100%;
	height: auto !important;
	height: 100%;

}
p{
    font-size: 16px;
}
.ramka_top{
	position: absolute;
	top: 0;
	width: 100%;
	height: 29px;
	background:  url(../images/ramka_top.png) center top;
}
.ramka_bottom{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 29px;
	background:  url(../images/ramka_bottom.png) center bottom;
	z-index: 1
}
.wrapper .empty{
	height: 185px;
}
.left{
	float: left;
}
.right{
	float: right;

}
footer{
	position: relative;
	height: 150px;
	width: 1160px;
	margin: -150px auto 0;
	background: url(../images/fbg.png);
}
nav{
	position: relative;
	background: url(../images/nav.png) repeat-x;
	height: 57px;
	line-height: 57px;
	font-family: 'MyriadPro-Regular';
}
nav a.btn.abs{
	position: absolute;
	right: 5px;
	top: 11px;
}
menu li{
	position: relative;
	display: inline-block;
	height: 57px;
	line-height: 57px;
	text-align: center;
}
menu>li ul{
	position: absolute;
	left: 0;
	display: block;
	transition:opacity 1s; 
    visibility:hidden; 
    opacity:0;

}
menu>li:hover ul{
    border-radius: 10px;
	width: 100%;
	position: absolute;
	left: 0;
	margin: 0;
	opacity:0.9; 
    visibility:visible; 
    
	-webkit-transition:opacity  1s;
	-moz-transition:opacity  1s;
	-o-transition:opacity  1s;
	-ms-transition:opacity  1s;
	transition:opacity  1s;
}
menu li ul li{
	border-top: 1px solid  #fff;
	background: #e26f2b;
	text-align: center;
	height: 20px;
	display: block;
	line-height: 20px;
}
menu li ul li:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
menu li ul li:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
menu li ul li a{
	color: #fff;
}
menu li ul li a:hover{
	color: #fff;
}

.l1{padding: 0 17px; background: url(../images/l1.png) repeat-x;  } .l2{width: 110px; background: url(../images/l2.png) repeat-x;} .l3{padding: 0 28px; background: url(../images/l3.png) repeat-x;} .l4{padding: 0 45px 0 18px; background: url(../images/l4.png) repeat-x;} .l5{padding: 0 25px 0 60px; background: url(../images/l5.png) repeat-x; } .l6{padding: 0 25px 0 25px; background: url(../images/l6.png) repeat-x;} .l7{padding: 0 27px; background: url(../images/l7.png) repeat-x;}

menu li a{
	line-height: normal;
	
	color: #4b3722;
}
menu li a:hover{
	color: #bb884c;
}
header{
	position: relative;
	
	width: 1162px;
	margin: 0 auto ;
	margin-bottom: 40px;
	padding-top: 125px;
}
a.logo{
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -92px;
	width: 184px;
	height: 176px;
	background: url(../images/logo.png) no-repeat center;
	top:-75px;
}
.btn{
	font-family: 'Georgia';
}
.btn-group.abs{
	position: absolute;
	right:100px;
	top: 50px;
}
.btn-group.abs .btn{
	color: #595959;
	font-size: 12px;
	border-radius: 13px !important;
}
a.reg{
	position: absolute;
	top: 30px;
	right: 35px;
	display: inline-block;
	width: 280px;
	height: 60px;
	line-height: 45px;
	vertical-align: middle;
	text-align: center;
	border: 8px solid  #ecdd9a;
	color: #fff;
	font-size: 20px;
	border-radius: 35px;
	background: #6fb7c3;
	/*text-decoration: underline;*/
}
a.reg:hover{
	background: #448590;
	color: #fff;
	text-decoration: none;
}
.promo_vid{
	position: relative;
	width: 803px;
	height: 496px;
	background: url(../images/figurebd.png) center no-repeat;
}
.promo_vid iframe{
	position: absolute;
	top: 47px;
	left: 30px;
}

.hname{
	text-align: center;
	font-family: "Trebuchet MS";
	font-size: 48px;
	margin: 20px auto;
}
.hname table{
	margin: 0 auto;
}
.hname td{
	color: #ff0001;
	display: inline-block;
	padding: 5px 3px 15px;
	margin: 0;
	border-bottom: 3px solid  #ff0001;
}
.hname td+td{
	color: #fb9254;
	border-bottom: 3px solid  #fb9254;	
}
.hname td+td+td{
	color: #f6e915;
	border-bottom: 3px solid  #f6e915;
}
.hname td+td+td+td{
	color: #00c311;
	border-bottom: 3px solid  #00c311;
}
.site_name{
	position: absolute;
	
	width: 350px;
	
	top: 30px;
	left: 140px;
	/*padding: 25px 0 0;*/
	text-align: center;

}
.site_name p{
	font-size: 24px;
	font-weight: bold;
	font-family: "Georgia";
	margin-bottom: 10px;
	color: #585858;
}
.site_name p+p{
	font-size: 36px;
}
.site_name a{
	font-family: "Georgia";
	font-size: 12px;
	font-weight: bold;
	color: #585858;
}
.tarif{
	width: 218px;
	
	margin: 0 5px 45px;
	display: inline-block;
}
.inl_blocks{
	margin: 45px 0;
	text-align: center;
}
.tarif .ban{
	background: #ed1c24;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	color: #fff;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright:45px;
	-moz-border-radius-bottomleft:45px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:45px;
	-webkit-border-bottom-left-radius:45px;
	-webkit-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:0px;
	
}
.ban h3{
	font-family: "Arial";
	font-style: italic;
	font-size: 48px;
	margin: 0;
	font-weight: normal;
	line-height: normal;
}
.ban p{
	font-family: "Arial";
	font-style: italic;
	font-size: 24px !important;
	color: #fff !important;
}
.tarif+.tarif .ban{
	background: #fb9254;
}
.tarif+.tarif+.tarif .ban{
	background: #f6e915;
}
.tarif+.tarif+.tarif+.tarif .ban{
	background: #00c311;
}
.tarif+.tarif+.tarif+.tarif+.tarif .ban{
	background: #3bb9d4;
}
.tarif+.tarif+.tarif+.tarif+.tarif+.tarif .ban{
	background: #f893e9;
}
.tarif+.tarif+.tarif+.tarif+.tarif+.tarif+.tarif .ban{
	background: #730db7;
}
.tarif span{
	display: inline-block;
	color: #ed1c24;
	text-decoration: underline;
	margin: 6px 0;
}
.tarif+.tarif span{
	color: #fb9254;
}
.tarif+.tarif+.tarif span{
	color: #f6e915;
}
.tarif+.tarif+.tarif+.tarif span{
	color: #00c311;
}
.tarif+.tarif+.tarif+.tarif+.tarif span{
	color: #3bb9d4;
}
.tarif+.tarif+.tarif+.tarif+.tarif+.tarif span{
	color: #f893e9;
}
.tarif+.tarif+.tarif+.tarif+.tarif+.tarif+.tarif span{
	color: #730db7;
}
.tarif p{
	font-style: italic;
	color: #708fa3;
	font-size: 12px;
	line-height: 15px;
	text-align: center !important;
}
footer{
	position: relative;
}
a.flogo{
	display: block;
	position: absolute;
	top: 21px;
	left: 120px;
}
a.flogo img{
    width: 72px;
}
.pays{
	position: absolute;
	top: 50px;
	left: 395px;
}
.pays img{
    width: 100px;
	border: 1px solid  #d0d0d0;
}
p.all{
	position: absolute;
	top: 93px;
	left: 68px;
	font-family: "Trebuchet MS" ;
	font-size: 11px;
	text-decoration: underline;
}
.socn{
	position: absolute;
	right: 150px;
	top: 20px;
}
.socn a{
	display: block;
	margin: 10px 0;
	padding: 3px 12px !important;
	color: #4d6eaf;
	font-family: "Georgia";
	font-size: 15px;
}
h2{
    color: #626262;
	text-align: center;
	font-family: "Georgia" !important;
	font-size: 30px !important;
	margin-bottom: 20px !important;
	font-weight: normal !important;
}
.container_all h2{
    font-family: "MyriadPro-Regular";
}
.content h2{
	text-align: left;
}
.content p{
	color: #585858;
	font-family: "Georgia";
	font-size: 14px;
	text-align: justify;
}
.bigcontainer{
	width: 1110px;
	margin: 0 auto;
}
.banpar{
	background: transparent url(../images/people.jpg) top center no-repeat;
	width: 360px;
	padding-top: 348px;
	color: #ff3f46;
	text-align: center;
	font-size: 20px;
	font-family: "Arial";
	font-weight: bold;
}
aside{
	text-align: center;

}
aside p{
	margin: 15px 0;
	font-family: "Tahoma";
	font-size: 12px;
}
aside a{
	color: #ff3f46;
}
.code{
	padding: 10px 0;
	margin: 10px 0;
	border-radius: 10px;
	border: 1px solid  #d4d4d4;
	background: #fff;
	font-family: "Tahoma";
	font-size: 12px;
	text-align: center;
}
.stata{
	margin-left: 32px;
	background: url(../images/diagram.png)  no-repeat top left;
	height: 120px;
	padding-left: 120px;
	text-align: justify;
}
.stata table{
	text-align: justify;
}
.stata td{
	padding-right: 20px;
	font-size: 12px;
}
.stata td+td{
	font-family: "Tahoma";
	color: #333;
	font-size: 15px;
}
section{
	margin-top: 40px;
}
table.refer{
	margin-top: 25px;
	width: 100%;
	text-align: left;
	background: #ffffff;
}
table.refer th{
	background: #ff3700 !important;
	color: #fff;
	font-weight: normal;
	text-align: center;
}
.containercab{
	width: 1040px;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
}
.butBig, a.butBig{
    opacity: 0.8;
	display: inline-block;
    text-align: center;
	font-family: "LOBSTER";
	font-size: 24px;
	width: 257px;
	height: 75px;
	line-height: 75px;
	vertical-align: middle;
	color: #fff;
	border-radius: 10px;
    background-size: 100% 100%;
}
.butBig:hover{
    opacity: 1;
}
.cont{
    float: left;
    margin-top: 25px;
}
a.butBig:hover{
	text-decoration: none;
	color: #fff;
}
.bal{
	background: url(../images/myballa.png) repeat-x;
}
.addcash{
	background: url(../images/addcash.png) repeat-x;
	margin: 0 10px;
}
.get{
	background: url(../images/getmoney.png) repeat-x;
}
.top_table_order{
	background: url(../images/table_top_order.png) repeat-x;
	max-height: 40px;
}
table.lscl{
	font: 24px 'LOBSTER';
}
table.lscl td{
	text-align: right;
}
.rate_top{
	margin-top: 50px;
	width: 1035px;
	max-height: 189px;
}
.sel_rate{
	width: 359px;
	height: 189px;
	float: left;
	position: relative;
}
.sel_rate_top{
	background: url(../images/sel_rate_top.png) no-repeat;
	width: 359px;
	height: 139px;
	z-index: 20;
	position: absolute;
	top: 0;
}
.sel_rate_bottom{
	background: url(../images/sel_rate_bottom.png) no-repeat;
	width: 329px;
	height: 50px;
	float: left;
	z-index: 20;
	position: absolute;
	bottom: 0;
}
.red_line{
	background: url(../images/red_line.png) no-repeat;
	width: 360px;
	height: 139px;
	float: left;
	margin-left: -134px;
	z-index: 19;
	position: relative;
}
.orange_line{
	background: url(../images/orange_line_top.png) no-repeat;
	width: 360px;
	height: 139px;
	float: left;
	margin-left: -135px;
	position: relative;
	z-index: 16;
}
.yellow_line{
	width: 360px;
	height: 189px;
	float: left;
	margin-left: -136px;
	position: relative;
}
.yellow_line_top{
	background: url(../images/yellow_line_top.png) no-repeat;
	height: 139px;
	width: 360px;
	position: absolute;
}
.green_bottom_line{
	background: url(../images/green_bottom_line.png) no-repeat;
	width: 294px;
	height: 50px;
	position: absolute;
	bottom: 0;
	margin-left: -78px;
	z-index: 18;
	top: 139px;
}
.orange_bottom_line{
	background: url(../images/orange_bottom_line.png) no-repeat;
	width: 295px;
	height: 50px;
	position: absolute;
	margin-left: 31px;
	z-index: 17;
	top: 139px;
}
.green_bottom_line3{
	background: url(../images/green_bottom_line3.png) no-repeat;
	width: 234px;
	height: 50px;
	float: left;
	position: absolute;
	bottom: 0;
	margin-left: -85px;
	z-index: 13;
}
.green_bottom_line3 a{
	margin-left: 35px;
}
.orange_bottom_line3{
	background: url(../images/orange_bottom_line3.png) no-repeat;
	width: 295px;
	height: 50px;
	float: left;
	position: absolute;
	bottom: 0;
	margin-left: 31px;
	z-index: 12;
}
.green_bottom_line3_rig{
	width: 62px;
	height: 50px;
	background: url(../images/green_bottom_line3_rig.png) no-repeat;
	position: absolute;
	bottom: 0;
	z-index: 12;
	left: 147px;
}
.red_line_top{
	background: url(../images/red_line_top.png) no-repeat;
	width: 295px;
	height: 50px;
	float: left;
	position: absolute;
	top: 0;
	z-index: 11;
	left: 24px;
}
.orange_top_line2{
	background: url(../images/orange_top_line2.png) no-repeat;
	width: 295px;
	height: 50px;
	float: left;
	position: absolute;
	top: 0;
	z-index: 10;
	left: 30px;
}
.yellow_top_line3{
	background: url(../images/yellow_top_line3.png) no-repeat;
	width: 295px;
	height: 50px;
	float: left;
	position: absolute;
	top: 0;
	z-index: 9;
	left: 24px;
}
.four_line{
	margin-top: 45px;
	width: 1035px;
	max-height: 189px;
}
.green_line{
	width: 359px;
	height: 139px;
	float: left;
	z-index: 20;
	position: relative;
}
.green_line_top{
	height: 150px;
	z-index: 20;
	width: 360px;
	position: absolute;
	background: url(../images/green_line_top.png) no-repeat;
}
.blue_line{
	width: 360px;
	height: 139px;
	float: left;
	margin-left: -134px;
	position: relative;
}
.blue_line_top{
	background: url(../images/blue_line_top.png) no-repeat;
	width: 360px;
	height: 139px;
	z-index: 19;
	float: left;
	position: absolute;
}
.pink_line{
	width: 360px;
	height: 139px;
	float: left;
	margin-left: -135px;
	position: relative;
	z-index: 16;
}
.purple_line{
	background: url(../images/purple_line.png) no-repeat;
	width: 360px;
	height: 189px;
	float: left;
	margin-left: -136px;
	position: relative;
}
.green_line_toop{
	background: url(../images/green_line_toop.png) no-repeat;
	width: 319px;
	height: 50px;
	float: left;
	position: absolute;
	top: 0;
	margin-top: 2px;
	margin-left: 4px;
}
.green_bootom_line{
	background: url(../images/green_bootom_line.png) no-repeat;
	width: 209px;
	height: 51px;
	float: left;
	position: absolute;
	z-index: 21;
	margin-top: 139px;
}
.orange_bootom_line{
	background: url(../images/orange_bootom_line.png) no-repeat;
	width: 152px;
	height: 51px;
	float: left;
	position: absolute;
	left: 174px;
	z-index: 20;
	margin-top: 139px;
}
.blue_line_toop{
	background: url(../images/blue_line_toop.png) no-repeat;
	width: 295px;
	height: 50px;
	float: left;
	position: absolute;
	top: 0;
	z-index: 11;
	left: 24px;
}
.pink_line_top{
	background: url(../images/pink_line_top.png) no-repeat;
	width: 360px;
	height: 139px;
	z-index: 19;
	float: left;
	position: absolute;
}
.pink_line_toop{
	background: url(../images/pink_line_toop.png) no-repeat;
	width: 295px;
	height: 50px;
	float: left;
	position: absolute;
	top: 0;
	z-index: 10;
	left: 24px;
}
.purple_line_toop{
	background: url(../images/purple_line_toop.png) no-repeat;
	width: 295px;
	height: 50px;
	float: left;
	position: absolute;
	top: 0;
	z-index: 9;
	left: 24px;
}
.line_price_four{
	color: #fff;
	font-size: 58px;
	font-family: 'lobster';
	display: inline-block;
	margin-top: 60px;
	line-height: 65px;
}
.select_rate{
	color: #fff;
	font-size: 35px;
	font-family: 'lobster';
	display: inline-block;
	margin-top: 60px;
	line-height: 65px;
}
.line_price_next{
	margin-left: 90px;
}
.green_line_top .line_price_next{
	margin-left: 0;
}
.line_price_toop{
	color: #fff;
	font-size: 35px;
	font-family: 'lobster';
	margin-top: 10px;
	position: absolute;
	left: 100px;
	top: 3px;
}
.line_price_toop_orange{
	color: #fff;
	font-size: 35px;
	font-family: 'lobster';
	margin-top: 10px;
	position: absolute;
	left: 80px;
	top: 3px;
}
.line_price_toop_yellow{
	color: #fff;
	font-size: 35px;
	font-family: 'lobster';
	margin-top: 10px;
	position: absolute;
	left: 85px;
	top: 3px;
}
.line_price_toop2{
	color: #fff;
	font-size: 35px;
	font-family: 'lobster';
	margin-top: 10px;
	position: absolute;
	left: 100px;
	top: 3px;
}
.line_price_toop3{
	color: #fff;
	font-size: 35px;
	font-family: 'lobster';
	margin-top: 10px;
	position: absolute;
	left: 100px;
	top: 3px;
}
.line_price_toop4{
	color: #fff;
	font-size: 35px;
	font-family: 'lobster';
	margin-top: 10px;
	position: absolute;
	left: 90px;
	top: 3px;
}
.info_four_green{
	color: #fff;
	font-size: 23px;
	font-family: 'lobster';
	position: absolute;
	margin-top: 14px;
	right: 45px;
}
.buy_four_green{
	color: #fff;
	font-size: 23px;
	font-family: 'lobster';
	position: absolute;
	margin-top: 14px;
	left: 35px;
}
.info_four_blue{
	color: #fff;
	font-size: 23px;
	font-family: 'lobster';
	position: absolute;
	margin-top: 14px;
	margin-left: 35px;
}
.buy_four_blue{
	color: #fff;
	font-size: 23px;
	font-family: 'lobster';
	position: absolute;
	margin-top: 14px;
	margin-left: 30px;
}
.rate_top a{
	color: #fff;
}
.four_line a{
	color: #fff;
}
.content {
	float: left;
	width: 806px;

}
.sidebar{
	width: 240px;
	padding: 233px 0 0;
	float: right;
	font-family: 'Georgia';
	text-align: center;
	color: #585858;
}
.container{
	width: 1070px !important;
	margin: 0 auto;
    padding: 0;
}
.onepost h3{
	font-size: 14px;
	line-height: 16px;
}
.post_date{
	height: 30px;
	background: url(../images/bg_tx.png);
	vertical-align: middle;
	line-height: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}
a.read_more{
	display: block;
	height: 38px;
	vertical-align: middle;
	line-height: 38px;
	background: url(../images/bg_tx.png);
	color: #585858;
	text-decoration: underline;
	width: 160px;
	margin: 20px auto;
}
a.enter{
	display: inline-block;
	width: 164px;
	border: 2px solid  #ecdd9a;
	border-radius: 15px;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	line-height: 36px;
	background: #6fb7c3;
	height: 40px;
	font-size: 14px;
	position: absolute;
	right: 0px;
	top: 8px;
}
a.enter:hover{
	text-decoration: none;
	color: #fff;
	background: #448590;
}
nav .container{
	width: 950px !important;
}
.contacts{
	background: url(../images/bg_contacts.png) no-repeat top left;
	width: 221px;
	height: 353px;
	position: absolute;
	top: 90px;
	right: 46px;
	padding-top: 173px;
	padding-left: 52px;

}
.contacts h3{
	font-size: 17px;
	font-family: "MyriadPro-Regular";
	margin: 0px auto 10px !important;
	color: #fff;
	line-height: 18px;
	

}
.contacts ul{
	margin: 0 ;
}
.contacts li{
	display: block;
	margin: 12px;
}
.contacts li p{
	color: #000;
	font-family: "Trebuchet MS";
	font-size: 11px;
	margin: 0 !important;
	line-height: 12px;
}
.contacts li p+p{
	color: #fff;
    margin-left: -15px!important;
}
.mmgp{
	position: absolute;
	top: 40px;
	right: 310px;
}
.container_all{
	width: 850px;
	margin: 0 auto;
}
.bigpost{
	margin-bottom: 20px;
}
a.name_post{
	color: #6fb7c3;
	text-decoration: underline;
	font-family: "MyriadPro-BoldCond";
	font-size: 24px;
	margin-bottom: 20px;
	display: block;
}
.date_bp{
	font-family: "MyriadPro-It";
	color: #727272;
	font-size: 14px;
	margin-bottom: 15px;
}
.post_text{
	font-family: "MyriadPro-Regular";
	color: #000;
	font-size: 14px;
	margin-bottom: 15px;
	text-align: justify;
}
.more_bp{
	color: #6fb7c3;
	font-size: 14px;
	font-family: "MyriadPro-Regular";
	text-decoration: underline;
}
ul.pagination{
	z-index: 1;
	position: relative;
	display: block;
	text-align: center;
}
ul.pagination li{
	display: inline-block;
	margin: 0 3px;
	font-family: "MyriadPro-Regular";
	font-size: 14px;
	}
ul.pagination li span{
    padding: 0;
    float: inherit;
	display: inline-block;
	width: 32px;
	height: 20px;
	background: url(../images/pag_act_bg.png) repeat-x;
	border-radius: 10px!important;
	color: #fff;
	-moz-box-shadow: 1px 1px 1px #555555;
	-webkit-box-shadow: 1px 1px 1px #555555;
	box-shadow: 1px 1px 1px #555555;

}
ul.pagination li a{
    padding: 0;
    float: inherit;
	display: inline-block;
	width: 32px;
	height: 20px;
	background: url(../images/pag_bg.png) repeat-x bottom;
	color: #626262;
	border-radius: 10px!important;
	-moz-box-shadow: 1px 1px 2px #555555;
	-webkit-box-shadow: 1px 1px 2px #555555;
	box-shadow: 1px 1px 2px #555555;
}
ul.pagination li a:hover{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
}
.pag{
	position: relative;
	width: 400px;
	margin: 20px auto;
}
.pag .line{
	position: absolute;
	border-bottom: 1px solid  #dadada;
	top: 55%;
	width: 100%;
}
.container_all h2{
	text-align: left;
}
.arrow_box {
	cursor: pointer;
	position: relative;
	background: url(../images/que_bg.png) bottom repeat-x;
	vertical-align: middle;
	/*height: 45px;*/
	padding: 15px 15px;
	border-radius: 15px;
	margin-bottom: 25px;
	color: #fff;
	-moz-box-shadow: 2px 4px 10px #888;
	-webkit-box-shadow: 2px 4px 10px #888;
	box-shadow: 2px 4px 10px #888;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.05, #a4eaf5), to(#289cd8));
	background-image: -webkit-linear-gradient(#a4eaf5 5%, #289cd8);
	background-image: -moz-linear-gradient(#a4eaf5 5%, #289cd8);
	background-image: -o-linear-gradient(#a4eaf5 5%, #289cd8);
	background-image: linear-gradient(#a4eaf5 5%, #289cd8);
}
.arrow_box:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #289cd8;
	border-width: 12px;
	left: 10%;
	margin-left: -12px;
}
.text_answer{
	-moz-box-shadow: 2px 4px 10px #888;
	-webkit-box-shadow: 2px 4px 10px #888;
	box-shadow: 2px 4px 10px #888;
	margin: 15px 0;
	border-radius: 15px;
	padding: 15px;
	text-align: justify;
	color: #fff;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.10, #fee802), to(#e0a12d));
	background-image: -webkit-linear-gradient(#fee802 10%, #e0a12d);
	background-image: -moz-linear-gradient(#fee802 10%, #e0a12d);
	background-image: -o-linear-gradient(#fee802 10%, #e0a12d);
	background-image: linear-gradient(#fee802 10%, #e0a12d);
}
.question{
	font-size: 16px;
	font-family: 'MyriadPro-Regular';
}
.mark_desc{
	background: #64a4bb;
	float: left;
	border: 3px solid  #6fb7c3;
	border-radius: 10px;
}
.mark_desc table{
    width: 100%;
}
.mark_desc h3{
	color: #fff;
	font-family: "Arial";
	font-size: 27px;
	font-weight: normal;
	margin: 5px 15px;
	line-height: 27px;
}
.mark_desc p{
	color: #fff;
	font-size: 16px;
	margin: 0 15px 10px;
	font-family: "Arial";
	line-height: 16px;
}
.mark_desc tr th{
	background: url(../images/tb_desc_th_bg.png) repeat-x;
	height: 46px;
	min-width: 90px;
	padding: 0 5px;
	font-size: 13px;
	font-weight: normal;
	font-family: "Arial";
	color: #1f3d71;
	border-top: 1px solid  #6fb7c3;
	border-bottom: 1px solid  #6fb7c3;
	border-left: 1px solid  #d7dfec;
}
.mark_desc tr th:first-child{
	min-width: 148px;
}
.mark_desc tr td{
	text-align: center;
	height: 36px;
	background: #fff;
	border-left: 1px solid  #d7dfec;
	border-bottom: 1px solid  #d7dfec;
	font-size: 11px;
	font-family: "Arial";
}
.mark_desc tr td:first-child{
	background: #dee5f4;
	color: #1f3d71;
	font-size: 13px;
}
.sdet{
	font-family: "Arial";
	color: #828282;
	font-size: 10px;
	margin: 0 10px;
}
.one_rewiev{
	color: #000;
	font-family: "MyriadPro-Regular";
	font-size: 14px;
}
.signature{
	color: #727272;

}
.text_rewiev {
	padding: 10px;
	margin-top: 15px;
	position: relative;
	background: #d7f0f4;
}
.text_rewiev:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.text_rewiev:after {
	border-color: rgba(240, 251, 253, 0);
	border-bottom-color: #d7f0f4;
	border-width: 13px;
	left: 25px;
	margin-left: -13px;
}



form ul {
    list-style-type: none;
}

form ul li {
    margin: 10px 0;
}

form ul li label {
    display: block;
}
/*
    contacts
*/
p{
    font-family: "MyriadPro-Regular";
    color: #727272;
}
.contact_form{
    background: #fafafa;
    width: 516px;
    border: 1px solid #6fb7c3;
}
.contact_form form{
    padding: 15px;

}
.contact_form form button{
    float: right;
    width: 136px;
    color: #fff;
    height: 40px;
    border: 2px solid #bcd7dc;
    border-radius: 10px;
    background: url("../images/cont_grad.png") repeat-x;
    background-size: 100% 100%;
    font-size: 16px;
    font-family: "MyriadPro-BoldCond";
}
.contact_form span{
    vertical-align: top;
    display: inline-block;
    width: 100px;
    text-align: right;
    font-family: "MyriadPro-Regular";
    color: #727272;
    margin-right: 10px;
}
.contact_form input {
    height: 30px;
    width: 206px;
    display: inline-block;
}
.contact_form textarea{
    width: 300px;
    display: inline-block;
    height: 100px;
}
.contactsName{
    font-family: "MyriadPro-BoldCond";
    font-size: 16px;
    color: #f0f0f0;
    height: 36px;
    line-height: 35px;
    vertical-align: middle;
    text-align: center;
    background: url(../images/cont_grad.png) repeat-x bottom;
    background-size: 100% 100%;
}
.modal-content{
    background: url("../images/modal_bg.png") top repeat-x;
    background-size: 100% 100%;
    color: #fff;
    border: 2px solid #a3eaf5;
}
.modal-content input, .prof input{
    width: 250px;
    border: 2px solid #279bd8;
    border-radius: 10px;
}
.modal-content li{
    margin: 0;
}
a.restore{
    float: left;
    font-size: 19px;
    color: #fff;
}
.modal-footer{
    border-top: 1px solid #74ceb9 !important;
}
.modal-header{
    border-bottom: 1px solid #75c1e1;
}
.blocks_tarif1{
    margin: 20px 0;
    background: url("../images/invest_bg1.png") no-repeat;
    width: 942px;
    height: 171px;
    line-height: 171px;

}
.blocks_tarif1>div{
    float: left;
}
.blocks_tarif1 .title{
    display: inline-block;
    line-height: 35px;
    font-family: "LOBSTER";
    color: #ffffff;
    font-size: 32px;
    width: 265px;
    text-align: center;
    margin-left: 30px;
    margin-right: 15px;
    vertical-align: middle;

}
.tarcab{
    padding-top: 10px;

    /*display: inline-block;*/
    color: #ffffff;
    font-family: "LOBSTER";
    float: left;
    width: 185px;
    margin-right: 10px;
}
.tarcab .name{
    text-align: center;
    font-size: 36px;
    line-height: 38px;
    margin-left: -20px;
}
.tarcab .price{
    line-height: 65px;
    height: 75px;
    vertical-align: middle;
    font-size: 60px;
    text-align: center;
    position: relative;
}
.tarcab .price div{
    position: absolute;
    font-size: 16px;
    top: 36px;
    left: 50px;
}
.tarcab ul{
    position: relative;
    display: block;
    margin-left: 0px;
    text-align: center;
    line-height: 48px;

}
.tarcab ul li{
    display: inline-block;
    width: 145px;
    height: 43px;
    position: absolute;
}
.tarcab ul li:hover{
    width: 143px;
    height: 45px;
    background-position: 0 -135px;
    margin-top: -2px;
}
.tarcab2 ul li{
    left: -45px !important;
}
.tarcab2 ul li+li{
    left: 54px !important;
}
.tarcab3 ul li+li{
    left: 63px !important;
}
.tarcab3 ul li{
    left: -36px !important;
}
.tarcab4 ul li{
    width: 187px;
    background-position: 0 -322px !important;
    top: 5px !important;
    left: -86px !important;
}
.tarcab4 ul li:hover{
    width: 193px;
    background-position: 0 -273px !important;
    margin-left: -2px;
}

.tarcab4 ul li+li{
    background-position: 0 -231px !important;
    left: 71px !important;
    width: 145px;
}
.tarcab4 ul li+li:hover{
    background-position: 0 -183px !important;
    width: 148px;
}
.tarcab4 ul li+li a{
    margin-left: -13px;
}
.tarcab5 ul li{
    top: 5px !important;
    left: -43px !important;
}
.tarcab5 ul li+li{
    top: 5px !important;
    left: 59px !important;
}
.tarcab6 ul li{
    top: 5px !important;
    left: -38px !important;

}
.tarcab6 ul li+li{
    left: 62px !important;

}
.tarcab7 ul li{
    top: 5px !important;
    left: -38px !important;

}
.tarcab7 ul li+li{
    left: 61px !important;

}
.tarcab ul li{
    left: -54px;
    top: 4px;
    background: url("../images/sprite_pk.png");
    background-position: 0px -92px;
}
.tarcab ul li+li{
    background: url("../images/sprite_pk.png");
    top: 3px;
    left: 45px;
}
.tarcab ul li+li:hover{
    margin-left: -3px;

    background-position: 0 -44px;
    width: 151px;
}
.tarcab ul li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 21px;
}
.blocks_tarif2{
    padding-left: 90px;
    background: url("../images/invest_bg2.png") no-repeat;
    width: 942px;
    height: 171px;
}
.blocks_tarif2 .tarcab{
    width: 194px;
}
 .price{
    margin-right: -36px;
}
.bgblock{
    background: url("../images/lin_bg.png") center top no-repeat;
    position: relative;
    height: 478px;
    width: 936px;
    margin: 25px auto;
}
a.buy_lin{
    font-family: "LOBSTER";
    color: #ffffff;
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
    display: block;
    position: absolute;
    background: url("../images/sprite_lin.png");
}
a.buy_lin:hover{
    padding-top: 24px;
    text-decoration: none;
}
a.buy_lin.first{
    background-position: 0 0;
    top: 135px;
    left: 47px;
    height: 78px;
    width: 194px;
}
a.buy_lin.first:hover{
    background-position: 0 -78px;
    top: 131px;
    left: 44px;
    height: 86px;
    width: 203px;
}
a.buy_lin.second{
    background-position: 0 -164px;
    top: 216px;
    left: 18px;
    height: 72px;
    width: 178px;
}
a.buy_lin.second:hover{
    background-position: 0 -236px;
    top: 212px;
    left: 15px;
    width: 184px;
    height: 80px;
}
a.buy_lin.third{
    background-position: 0 -316px;
    top: 294px;
    left: 46px;
    width: 194px;
    height: 79px;
}
a.buy_lin.third:hover{
    background-position: 0 -395px;
    top: 291px;
    left: 43px;
    height: 87px;
    width: 198px;
}
.turns{
    text-align: center;

}
.turn{
    vertical-align: top;
    font-family: "MyriadPro-Regular";
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    width: 256px;
    border: 9px solid #92988a;
    background: #a4aa9e;
    border-radius: 7px;
    padding: 10px 0;
}
.turn p{
    color: #ffffff;
    line-height: 40px;
}
.turns .turn+.turn{
    margin: 0 35px;
    border: 9px solid #d65e38;
    background: #e97055;
}
.turns .turn+.turn+.turn{
    margin: 0;
    border: 9px solid #a4a838;
    background: #babe50;
}
.turn ul{
    margin-bottom: 15px;
}
.turn li{
    display: block;
    list-style: none;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #c7cac3;
}
.turn+.turn li{
    border-bottom: 1px solid #f1a696;
}
.turn+.turn+.turn li{
    border-bottom: 1px solid #d4d793;
}
.turn li span{
    font-size: 24px;
}
.nums_t{
    padding: 0 8px;
}
.num_turn{
    margin: 6px;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 30px;
    float: left;
    background: #fff;
    color: #000000;
    border-radius: 50%;
    border: 2px solid #a4aa9e;
    -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    -moz-box-shadow:    0px 0px 10px rgba(255, 255, 255, 1);
    box-shadow:         0px 0px 10px rgba(255, 255, 255, 1);
}
#add_review{
    width: 476px;
    height: 145px;
    border: 1px solid #b1b1b1;
    padding: 10px;
    margin: 10px;
}
.add_review{

    background: #ffffff;
    border-radius: 4px;
    float: left;
    -moz-box-shadow: 0px 0px 13px #5c5c5c;
    -webkit-box-shadow: 0px 0px 13px #5c5c5c;
    box-shadow: 0px 0px 13px #5c5c5c;
}
.foot_r{
    height: 81px;
    background: url("../images/modal_bg.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    border-top: 1px solid #0d8f52;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 20px;

}
.foot_r input{
    float: right;
    border: 2px solid #5ec0e0;
    font-family: "MyriadPro-Regular";
    font-size: 16px;
    border-radius: 10px;
}
.login{
    width: 380px;
}
.prof{
    width: 250px;
}
.prof li{
    margin: 0;
}
.prof button{
    display: block;
    margin: 0 auto;
}
input[type=checkbox]{
    width: 15px;
    -o-appearance:none;
    border: none;
    border-radius: 0px;
}
.payf form{
    display: none;
}
.payf form.active{
    display: block;
}
.payf input{
    width: 100px;
}
.modal-body div{
    margin: 5px 0;
}
.modal-body button, .modal-body label.btn {
    border-radius: 10px;
    width: 180px;
    border: 2px solid #6acfde;
    font-family: 'Tahoma';

}
button#pay{
    font-family: 'Tahoma';
    font-size: 14px;
    width: 180px;
    border: 2px solid #df9f2e;
    border-radius: 10px;
    background: url("../images/bg_pay.png");
    background-size: 100% 100%;
}
.modal-content {
    font-family: 'Tahoma';
    font-size: 14px;
}
.close{
    border: none !important;
    width: 30px !important;
}
.contacts a{
    color: #ffffff;
}
div[id^='inv'] .modal-dialog{
    width: 701px;
}
.content p{
    font-size: 16px;
}
.contacts p:last-child{
    margin-left: -20px;
}
#timediv{
    position: absolute;
    font-family: "Georgia";
    font-size: 24px;
    font-weight: bold;
    top: 44px;
    left: 703px;
    color: #585858;
}

.map {
    margin-top: 20px;
}
.modal-body p{
    color: #ffffff;
}
.modal-dialog.cab{
    width: 786px !important;
}
table.lscl{
    margin: 0 !important;
    border: 0px !important;
}
table.lscl td, table.lscl th{
    padding: 0 8px !important;
    border-top: none !important;
    border-left: none !important;
}
table.lscl th{
    background: #6fb7c3 !important;
}
table.lscl td:last-child, table.lscl th:last-child{
    border: none !important;
}
table.lscl tr:last-child td{
    border-bottom: none;
}
.orders{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #dddddd;
}
.wellcome{
    position: absolute;
    font-family: "Georgia";
    font-size: 18px;
    font-weight: bold;
    top: 94px;
    left: 680px;
    color: #585858;
}
.count{
    display: block;
    position: absolute;
    right: 45px;
    top: 5px;
}
#take, #takeok, .btn#solidtrustpay{
    width: 140px;
    display: inline-block;
}
#take input, #takeok input, #solidtrustpay input{
    visibility: hidden;
}